.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Login .TituloLogin {
    color: dodgerblue;
    font-size: 2rem;
    padding-bottom: 1vh;
    width: 110%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.Login .Form {
    width: 30vh;
    height: auto;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.Login .Form #ErrorLogin {
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 1vh;
    background-color: #ff3333;
}

.Login .Form #InputLogin {
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

.Login .Form .ButtonLogin {
    width: 110%;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}

.Login .Form Button {
    margin-top: 2vh;
}

.Login .Form .IconInputUser {
    margin-top: 2vh;
}

.Login .Form .IconInputPassword {
    margin-bottom: 2vh;
}