#grafico_ves {
    display: flex;
    width: 55vh;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    border: 1px solid #00000020;
    border-radius: 5px;
    background-color: #fff;
}

#myChart {
    background-image: linear-gradient(green, yellow, red);
    border-radius: 5px;
}
