.EditarFamiliares .BotaoForm {
    margin-right: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: flex-end;
}

.EditarFamiliares  .botaoFormSalvar {
    font-size: 15px;
    padding: 7px 15px;
    background-color: #3ab63a;
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 1vh;
}

.EditarFamiliares .botaoFormFechar {
    font-size: 15px;
    padding: 7px 15px;
    background-color: #ff0000;
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 1vh;
}

.EditarFamiliares select, input {
    margin-left: 1vh;
}