.Sistema {
    width: 50vw;
    border: 1px solid #00000020;
    border-radius: 5px;
    background-color: #fff;
    margin: 10vh 1vh 10vh;
}

.Sistema h1 {
    font-size: 1.2rem;
    padding-left: 1vh;
    font-family: Roboto, sans-serif;
    color: gray;
}

.Sistema .TituloSistema {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
}

.Sistema .TituloSistema button {
    margin: 1.5vh;
    background-color: #3ab63a;
    border: none;
    border-radius: 30px;
    color: white;
    height: 2.5vh;
}

.Sistema .Paginas {
    padding-left: 1vh;
    color: #00000030;
    font-size: 0.9rem;
}

.Sistema .Tabela {
    margin: 1vh;
}

.Sistema .BotaoAdicionar {
    display: flex;
    justify-content: flex-end;
}