.TabelaFragilidades {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.TabelaFragilidades .Paginas {
    padding-left: 1vh;
    color: #00000030;
    font-size: 0.9rem;
    margin-top: 1vh;
    display: flex;
}


.TabelaFragilidades table {
    width: 100%;
}

.TabelaFragilidades .Colunas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    border-bottom: 1px solid gray;
}

.TabelaFragilidades .TextosTabela {
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 5vh;
}

.TabelaFragilidades .FragilidadesLinha {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    border-bottom: 1px solid #00000030;
    width: 62.5vw;
}

.TabelaFragilidades .Pergunta {
    margin: 1vh;
}

.TabelaFragilidades .ColunaInformacoes {
    justify-content: flex-start;
    margin-left: 1vh;
}

.FragilidadesLinha .ColunaAcoes {
    justify-content: flex-end;
    margin-right: 1.5vh;
}

.FragilidadesLinha .BotaoTabela button {
    border-radius: 50px;
    border: 1px solid #00000030;
    margin: 1vh;
}

.FragilidadesLinha .ButaoEditar {
    display: inline-block;
    margin-right: 10px;
}

.FragilidadesLinha .ButaoRemover {
    display: inline-block;
}

.FragilidadesLinha .InfoObitos {
    margin: 1vh;
}