.EditarExameLab .BotaoForm {
    margin-right: 3vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
}

.EditarExameLab  .botaoFormSalvar {
    font-size: 15px;
    padding: 7px 15px;
    background-color: #3ab63a;
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 1vh;
}

.EditarExameLab .botaoFormFechar {
    font-size: 15px;
    padding: 7px 15px;
    background-color: #ff0000;
    border: none;
    border-radius: 30px;
    color: white;
    margin-right: 1vh;
}

.EditarExameLab select, input {
    margin-left: 1vh;
}

.EditarExameLab label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vh;
    margin: 1.3vh;
    font-size: 0.9rem;
}

.EditarExameLab input {
    width: 80%;
    margin: 1vh;
}

.EditarExameLab select {
    width: 80.8%;
    height: auto;
    display: flex;
    margin: 1vh;
}

.EditarExameLab .Titulo {
    color: dodgerblue;
    font-size: 1.2rem;
}