.Footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    border-top: 1px solid gray;
    text-align: center;
    padding: 20px 0;
}

.Footer .FooterContent {
    color: gray;
    font-weight: bold;
}
